.comment-bg {
  background: rgba(232, 231, 234, 0.58);
  border-radius: 0px 10px 10px 10px;
  padding: 10px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11.5px;
  color: $zd-dark-blue;
}

.activity-item {
  
  .name {
    font-family: "Futura";
    font-size: 12px;
    line-height: 20px;
    color: $zd-dark-blue;
    opacity: 0.5;
    margin-bottom: 0px;
  }

  .timestamp {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 139%;
    color: #a5a4a4;
    margin-bottom: 0px;
  }
  .action {
    font-family: "Nunito Sans";
    font-style: normal;
    // font-weight: 800;
    font-size: 12px;
    line-height: 139%;
    padding-right: 77px;
  }

  // &:before, &:after {
  //   position: absolute;
  //   display: block;
  //   top: 0;
  // }

  // &:before {
  //   left: -20px;
  //   top: 88px;
  //   // color: fade(@color-light, 40%);    
  //   content: url("../../../icons/icon-activity-comment.svg");
  //   // text-align: right;
  //   font-weight: 100;    
  //   // font-size: 0.9em;
  //   // min-width: @date;
  //   // font-family: @font-title;
  // }
}
