.modalBackdrop {
  display: flex;
  width: 100%;
  //height: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background: rgba(3, 41, 61, 0.8);
  backdrop-filter: blur(4px);
  justify-content: center;
  // align-items: center;
  height: 100vh;
  overflow-y: auto;
}

.modalContent {
  // padding: 10px;
  margin-top: 5%;
  width: 33.33%;

  .card-body > div {
    // TODO: ASK GOD FOR FORGIVENESS, DEAR WHOMEVER WROTE THE STYLE BELOW THAT I COMMENTED OUT - MEL
    //height: 100vh;
    height: max-content;
  }
}

.modalHeader {
  color: #ffffff;
}

.modalTitle {
  font-size: 28px;
  line-height: 28px;
  font-family: 'Futura', sans-serif;
  font-weight: bold;
}

.modalDescription {
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
}

.modalClose {
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
}

.showModal,
.showFullModal {
  display: flex;
}

.hideModal,
.hideFullModal {
  display: none;
}

.ti-close::before {
  font-weight: bold;
  font-size: 14px;

}

/* Responsiveness */

@media only screen and (min-width: 1200px) {
  .modalContent {
    // padding: 10px;
    // margin-top: 5%;
    width: 35%;
  }
}

@media only screen and (min-width: 992px) {
  .modalContent {
    // padding: 10px;
    // margin-top: 5%;
    width: 33%;
  }
}

@media only screen and (min-width: 768px) {
  .modalContent {
    // padding: 10px;
    // margin-top: 5%;
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .modalContent {
    // padding: 10px;
    // margin-top: 5%;
    width: 100%;
  }
}
