.switch {
  cursor: pointer;
  &_wrapper {
    width: 40px;
    padding: 4px;
    border-radius: 12px;
    background-color: #a9a5af;

    &.disabled {
      background: #a9a5af;
    }
  }
  &_toggle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 100%;
    transform: translateX(0);
    transition: transform 0.2s;
  }

  &.active {
    .switch_toggle {
      transform: translateX(20px);
    }

    .switch_wrapper {
      background: #00b394;

      &.disabled {
        background: #00b394;
      }
    }
  }
}
