@keyframes FadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// custom style for pace.js
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #2299dd;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

body {
  font-weight: 400;
  color: $zd-blue-inverse;
}

