@import '../../../../../../assets/scss/all/custom/variables';

.PlanningFileSystem {
  button {
    background: #4dbd98;
    border-radius: 5px;
    font-weight: 600;
    font-size: 10px;
    height: 30px;
    letter-spacing: 0.01em;
    color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .PlanningFileSystem__item {
    padding: 11px 20px;
    * {
      pointer-events: none;
    }
    &:hover {
      background: rgba(35, 179, 232, 0.05);
    }
  }

  .create-new {
    .dropdown-menu {
    }
  }
}
