@font-face {
  font-family: "Futura";
  src: url("./Futura-Bold.woff") format('woff');
  font-weight: 700; //bold
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./Futura-Book.woff") format('woff');
  font-weight: 600; //
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./Futura-ExtraBlack.woff") format('woff');
  font-weight: 900; //
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./Futura-Heavy.woff") format('woff');
  font-weight: 800; //
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./Futura-Light.woff") format('woff');
  font-weight: 300; //
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./Futura-Medium.woff") format('woff');
  font-weight: 400; //
  font-style: normal;
}

