
@import "../../../assets/scss/all/custom/variables";

.desktop-download {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 52vw;
  height: 100%;
}

.desktop-download-content {
  margin-top: 170px;
  //margin-left: 20px;
  //width: 500px;
  width: 100%;

  span {
    color: $zd-blue;
    cursor: pointer;
  }


  // &:before {
  //     content: url("../../../images/illustration_person.svg");
  //     position: absolute;
  //     left: 0.6em;
  //     bottom: 180px
  // }
  &__illustration {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;

    img {
      position: absolute;
      right: -20px;
      width: auto;
      height: auto;
      max-width: 90%;
      max-height: 170px;
    }
  }

  .desktop-download-title {
    font-family: "Futura", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
  }

  .desktop-download-description {
    margin-top: 13px;
    font-size: 22px;
    line-height: 36px;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: $zd-dark-blue;
    opacity: 0.8;



  }

  .desktop-download-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }

}
