.transaction-badge {
   //width: 100px;
   ////height: 22px;
   //text-align: center;
   //border-radius: 5px;
   //font-size: 12px;
   //padding: 2px;
   //display: inline;

   /* width: 100px; */
   border-radius: 5px;
   font-size: 12px;
   /* padding: 17px; */
   /* width: 277px; */
   /* max-width: 144px; */
   display: inline-block;
   width: 100px;
   height: 26px;
   vertical-align: center;
   display: inline-flex;
   text-align: center;
   align-items: center;
   justify-content: center;
}