@import '../../../../../../assets/scss/all/custom/variables';

.PlanningParameter {
  height: 21px;
  color: $zd-blue;
  background-color: #daeff7;
  padding: 0 10px;
  font-weight: 600;
  border-radius: 100px;
}
